.login-container {
    height: 100vh;
    background-image: url('/public/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .login-form {
    max-width: 300px;
  }
  
  .login-form-button {
    width: 100%;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #1677ff;
    margin-bottom: 20px;
  }